{% extends "blog/base.html" %}
{% block content %}
	<article class="media content-section">
		<img src="{{ object.author.profile.image.url }}" class="rounded-circle article-img" />
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ object.author }}</a>
				<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2 class="article-title" href="#">{{ object.title }}</h2>
			<p class="article-content">{{ object.content }}</p>
			{% if object.author == user %}
					<div class="clear"></div>
					<div>
						<a class="btn btn-danger btn-sm ml-1 mb-3" href="{% url 'post-delete' object.id %}">
							Delete
						</a>
						<a class="btn btn-info btn-sm ml-1 mb-3" href="{% url 'post-update' object.id %}">
							Update
						</a>
					</div>
				{% endif %}
		</div>
	</article>
{% endblock content %}